.broccoli-ui-switch-container {
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.broccoli-ui-switch-container:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.broccoli-ui-switch-track {
  display: flex;
  width: 40px;
  height: 22px;
  border-radius: 20px;
  padding: 2px;
}

.broccoli-ui-switch-track--on {
  background-color: oklch(0.65 0.18 240);
}

.broccoli-ui-switch-track--off {
  background-color: oklch(0.803 0 0);
}

.broccoli-ui-switch-thumb {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: oklch(1 0 0);
  transition: all 0.25s ease-in-out;
}

.broccoli-ui-switch-thumb--on {
  transform: translateX(100%);
}

.broccoli-ui-switch-thumb--off {
  transform: translateX(0px);
}
